<!DOCTYPE html>
<html lang="en">
{{ partial "header" . }}
  <body class="">
    {{ partial "drawer" . }}

    <div class="drawer-overlay"></div>
    <main id="container" role="main" class="container">
      <div class="surface">
        <div class="surface-container">
          <div data-pjax-container class="content">

            {{ partial "cover" . }}

              <section class="wrapper" tabindex="0">
                <div class="wrapper-container">
                  {{ $arr := split .Permalink "/" }}
                  {{ $len := len $arr }}
                  {{ $last := sub $len 2 }}
                  <header>
                    <p><h2>Posts tagged with <i>{{ index $arr $last }}</i></h2></p>
                    <hr>
                  </header>

                  <section class="post-list">
                    {{ range where .Data.Pages "Type" "post" }}
                      {{ .Render "summary" }}
                    {{ end }}
                  </section>

                  {{ partial "footer" . }}
                </div>
            </section>
          </div>
        </div>
      </div>
    </main>

    {{ partial "after_footer" . }}
  </body>
</html>
