
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/assets/js/jquery-3.1.1.min.js">\x3C/script>');
    </script>

    <!--<script src="/_components/jquery-pjax/jquery.pjax.js"></script>-->
{{ if $.Site.Params.enable_pjax }}
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js" integrity="sha256-Xuf/Wtp4J0pHH1OolTHfRbWP2FkR6WaB69ut7w4FxpY=" crossorigin="anonymous"></script>
{{ end }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js" integrity="sha256-s63qpgPYoQk+wv3U6WZqioVJrwFNBTgD4dkeegLuwvo=" crossorigin="anonymous"></script>
    <script src="/assets/js/foot-scripts.min.js?v=20160713"></script>

    <script type="text/javascript">
      hljs.initHighlightingOnLoad();

      {{ if .IsPage }}
        {{ if ne .Params.show_comment false }}
          if(GHOSTIUM.haveDisqus) {
            var disqus_developer = 1;
            var disqus_shortname = '{{ $.Site.Params.disqus_short_name }}';


            if(typeof DISQUS !== 'object') {
              (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
              }());
            }
          } else {
            document.querySelector('.post-comments').remove();
          }
        {{ end }}
      {{ end }}

{{ if $.Site.Params.googleAnalytics }}
      (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
              function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
          t=h.createElement(o);z=h.getElementsByTagName(o)[0];
          t.src='//www.google-analytics.com/analytics.js';
          z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
      ga('create','{{ $.Site.Params.googleAnalytics }}');ga('send','pageview');
{{ end }}

      if(GHOSTIUM.haveDisqus) {
        var disqus_developer = 1;
        var disqus_shortname = '{{ $.Site.Params.disqus_short_name }}';

        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      }
    </script>
