<li class="drawer-list-item">
  <a href="{{ $.Site.BaseURL }}/" rel="start" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{ $.Site.BaseURL }}/categories/" data-pjax>
    <i class="fa fa-tags"></i>Categories
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{ $.Site.BaseURL }}/tags/" data-pjax>
    <i class="fa fa-hashtag"></i>Tags
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{ $.Site.Params.subscribe_rss }}" target="_blank">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>

{{ range .Site.Params.menu }}
<li class="drawer-list-item">
  <a href="{{ .url }}" data-pjax><i class="fa fa-{{ .fa_icon }}" aria-hidden="true"></i>{{ .name }}</a>
</li>
{{ end }}

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
{{ with $.Site.Params.facebook_user }}
<li class="drawer-list-item">
  <a href="http://www.facebook.com/{{ . }}" target="_blank">
    <i class="fa fa-facebook"></i>Facebook
  </a>
</li>
{{ end }}
{{ with $.Site.Params.googleplus_user }}
<li class="drawer-list-item">
  <a href="https://plus.google.com/{{ . }}" target="_blank">
    <i class="fa fa-google-plus"></i>Google+
  </a>
</li>
{{ end }}
{{ with $.Site.Params.twitter_user }}
<li class="drawer-list-item">
  <a href="http://twitter.com/{{ . }}" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
{{ end }}
{{ with $.Site.Params.github_user }}
<li class="drawer-list-item">
  <a href="https://github.com/{{ . }}" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
{{ end }}
{{ with $.Site.Params.instagram_user }}
<li class="drawer-list-item">
  <a href="https://instagram.com/{{ . }}" target="_blank">
    <i class="fa fa-instagram"></i>Instagram
  </a>
</li>
{{ end }}
{{ with $.Site.Params.linkedin_user }}
<li class="drawer-list-item">
  <a href="http://www.linkedin.com/in/{{ . }}" target="_blank">
    <i class="fa fa-linkedin"></i>LinkedIn
  </a>
</li>
{{ end }}
{{ with $.Site.Params.weibo_user }}
<li class="drawer-list-item">
  <a href="https://weibo.com/{{ . }}" target="_blank">
    <i class="fa fa-weibo"></i>Weibo
  </a>
</li>
{{ end }}
