<aside role="banner" class="cover">
  <div {{ if $.Site.Params.cover }}data-load-image="{{ $.Site.Params.cover }}"{{ end }} class="cover-image"></div>
  <div class="cover-container">
    {{ if $.Site.Author.avatar }}
      <a href="{{ $.Site.BaseURL }}" class="cover-logo" data-pjax>
        <img src="{{ $.Site.Author.avatar }}" alt="Blog Logo">
      </a>
    {{ end }}
    <h1 class="cover-title">{{ $.Site.Title }}</h1>
    <p class="cover-description">{{ $.Site.Params.description }}</p>
  </div>
</aside>
